<<<<<<< HEAD
*{
	margin:0;
	padding: 0;
	}

.w{
	width: 1200px;
	margin:auto;
}
.header{
	height:59px;
	background-color: white;
	margin:30px auto;
	}
.logo{
	float:left;
	width:79px;
	height: 59px;
	background-attachment: white;
	
}
li{
	float:left;
	list-style: none;
}
a{
		text-decoration: none;
}
.nav{
	float:left;
	margin-left:40px;
}
.nav ul li{
	float left;
	margin:0 20px;
}

.nav ul li a{
	display:block;
	height: 59px;
	padding:0 10px;
	line-height: 59px;
	font-size: 27px;;
	color:black
}
.nav ul li a:hover{
	border-bottom: 3px solid orange;
	color:orange;
}
	
	.search{
		float:left;
		height: 59px;
		width: 580px;
		background-color:white;
	}	
	.search input{
		float:left;
		width: 520px;
		height: 55px;
		color:black;
		font-size: 30px;
		}
.search button{
	float:left;
	width:48px;
	height:59px;
	background-color: black;
	border:0;
	background: url(images/magnifier.png);
}
.user{
	float:right;
	line-height:59px;
}
/*以上的部分为头部导航栏区域的css样式*/
/* 下面部分是banner区域的css样式 */	
.banner{
	height: 700px;
	background:url(images/banner.jpg);
}
/*下面是相关网站推荐的css*/
.goods{
	height: 70px;
	background-color: #fff;
	box-shadow:0 1px 3px 3px rgba(0,0,0,0.2);
	width: 1450px;
	margin:10px auto;
	line-height: 70px;
}
.goods h3{
	float: left;
	margin-left:30px;
	font-size: 20px;
	color:#00a4ff;
}
.goods ul{
	float:left;
	margin-left:30px;
}
.goods ul li{
	float:left;
}
.goods ul li a{
	padding:0 35px;
	font-size: 20px;
	color: black;
	border-left: 1px solid #CCCCCC;
	
}	
/*下面是用户邮箱的样式*/
.login{
	width: 1450px;
	height:58px;
	margin:auto;
}
.maillogo{
	float:left;
	width:79px;
	height: 58px;
	background-attachment: white;
}
.usermail{
	font-size: 20px;
	font-weight: bolder;
	height: 58px;
	width:300px;
	line-height: 58px;
	}
.logout{
	font-size: 20px;
	height: 58px;
	float:right;
	line-height:58px;
}
	/* 以下是登录密码模块的css */
.passwd{
	width: 1450px;
	height:58px;
	margin:auto;
	
}
.passwdlogo{
	float:left;
	width:79px;
	height: 58px;
	background-attachment: white;
}
.passwdwd{
	font-size: 20px;
	font-weight: bolder;
	height: 58px;
	width:300px;
	line-height: 58px;
}
/*提交历史css*/
.history{
	font-size: 20px;
	font-weight:bolder;
	height:580px;
	width: 1450px;
	float:left;
	padding:20px 180px;
}
	
	
	
=======
*{
	margin:0;
	padding: 0;
	}

.w{
	width: 1200px;
	margin:auto;
}
.header{
	height:59px;
	background-color: white;
	margin:30px auto;
	}
.logo{
	float:left;
	width:79px;
	height: 59px;
	background-attachment: white;
	
}
li{
	float:left;
	list-style: none;
}
a{
		text-decoration: none;
}
.nav{
	float:left;
	margin-left:40px;
}
.nav ul li{
	float left;
	margin:0 20px;
}

.nav ul li a{
	display:block;
	height: 59px;
	padding:0 10px;
	line-height: 59px;
	font-size: 27px;;
	color:black
}
.nav ul li a:hover{
	border-bottom: 3px solid orange;
	color:orange;
}
	
	.search{
		float:left;
		height: 59px;
		width: 580px;
		background-color:white;
	}	
	.search input{
		float:left;
		width: 520px;
		height: 55px;
		color:black;
		font-size: 30px;
		}
.search button{
	float:left;
	width:48px;
	height:59px;
	background-color: black;
	border:0;
	background: url(images/magnifier.png);
}
.user{
	float:right;
	line-height:59px;
}
/*以上的部分为头部导航栏区域的css样式*/
/* 下面部分是banner区域的css样式 */	
.banner{
	height: 700px;
	background:url(images/banner.jpg);
}
/*下面是相关网站推荐的css*/
.goods{
	height: 70px;
	background-color: #fff;
	box-shadow:0 1px 3px 3px rgba(0,0,0,0.2);
	width: 1450px;
	margin:10px auto;
	line-height: 70px;
}
.goods h3{
	float: left;
	margin-left:30px;
	font-size: 20px;
	color:#00a4ff;
}
.goods ul{
	float:left;
	margin-left:30px;
}
.goods ul li{
	float:left;
}
.goods ul li a{
	padding:0 35px;
	font-size: 20px;
	color: black;
	border-left: 1px solid #CCCCCC;
	
}	
/*下面是用户邮箱的样式*/
.login{
	width: 1450px;
	height:58px;
	margin:auto;
}
.maillogo{
	float:left;
	width:79px;
	height: 58px;
	background-attachment: white;
}
.usermail{
	font-size: 20px;
	font-weight: bolder;
	height: 58px;
	width:300px;
	line-height: 58px;
	}
.logout{
	font-size: 20px;
	height: 58px;
	float:right;
	line-height:58px;
}
	/* 以下是登录密码模块的css */
.passwd{
	width: 1450px;
	height:58px;
	margin:auto;
	
}
.passwdlogo{
	float:left;
	width:79px;
	height: 58px;
	background-attachment: white;
}
.passwdwd{
	font-size: 20px;
	font-weight: bolder;
	height: 58px;
	width:300px;
	line-height: 58px;
}
/*提交历史css*/
.history{
	font-size: 20px;
	font-weight:bolder;
	height:580px;
	width: 1450px;
	float:left;
	padding:20px 180px;
}
	
	
	
>>>>>>> 094f8b7ee233ebbd6adf391894bd713a7db5420a
	