<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
    {% load static %}
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />

  <title>登录</title>
    <link rel="stylesheet" href="login.css" type="text/css">
</head>

<body>
<div class="container">
    <div class="row row-centered" >
        <div class="col-md-offset-3 col-md-6 col-centered">
            <form action = "/login/" method="POST" novalidate class="form-horizontal">
                {% csrf_token %}
                <span class="heading">用户登录</span>
                <div class="form-group">
                    <input type="text" name="user" class="form-control" id="inputEmail3" placeholder="用户名">
                    <i class="fa fa-user"></i>
                </div>

                <div class="form-group help">
                    <input type="password" name="pass" class="form-control" id="inputPassword3" placeholder="密　码">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <div class="main-checkbox">
                        <input type="checkbox" value="None" id="checkbox1" name="check"/>
                        <label for="checkbox1"></label>
                    </div>
                    <span class="text">Remember me</span>
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
                <div>
                   <a href="/signup" class="text-success float-left" ><ins>还没有账号？马上注册</ins></a>
                </div>
            </form>
        </div>
    </div>
</div>


  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>