<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
    {% load static %}
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
    <title>注册</title>
</head>
<body>
<div class="container">
    <div class="row row-centered" >
        <div class="col-md-offset-3 col-md-6 col-centered">
            <form action = "" method="POST" novalidate class="form-horizontal">
                {% csrf_token %}
                <span class="heading">用户注册</span>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="inputUsername3" placeholder="用户名">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="邮 箱">
                    <i class="fa fa-user"></i>
                </div>

                <div class="form-group help">
                    <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="密　码">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group col-md-offset-5 col-md-4 col-centered">
                    <button type="submit" class="btn btn-default">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>